<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatable" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {{ page.title }} </title>
        <link rel="stylesheet" type="text/css" href="../dist/output.css">
    </head>
    
    <body class="bg-slate-800 text-neutral-200">
        <header>
            <div>
                <h1>HAVE YOU? NEED TO.</h1>
                <ul>
                    <li>New collection</li>
                    <li>Settings</li>
                </ul>
            </div>
        </header>

        <main>
            
            {{ content }}
        
        </main>

        <footer>
            <div>
                <ul>
                    <li>new collection</li>
                    <li>settings</li>
                </ul>
            </div>
        </footer>
    
    </body>
</html>